body{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.inf {
    margin-top: 20px;
    font-size: 30px;
}
.container {
    background-color: #B284BE;
}